Repository HanaPiece/hana-piece-client, pull requests merged in 2024-05, with the labels that each got.

#7 feat: Product 1차 화면
  src/App.tsx
  src/components/ui/GreenButton.tsx
  src/components/ui/TopLine.tsx
  src/pages/product/ProductCompletePage.tsx
  src/pages/product/ProductDetailPage.tsx
  src/pages/product/ProductListPage.tsx
  src/pages/product/ProductSignupPage.tsx
  src/pages/product/ProductTermPage.tsx
  tailwind.config.js
Labels: product

#8 feat: Home 화면 디자인 구현
  src/App.tsx
  src/assets/byul1.png
  src/assets/img-hana-symbol-m.png
  src/index.css
  src/pages/home/GoalProductDetailPage.tsx
  src/pages/home/GoalProductRecommend.tsx
  src/pages/home/HomePage.tsx
Labels: home

#9 feat: Split 통장 쪼개기 화면 디자인 구현
  src/App.tsx
  src/assets/byul5.png
  src/index.css
  src/pages/split/SplitAutoPage.tsx
  src/pages/split/SplitMainPage.tsx
  src/pages/split/SplitManualPage.tsx
Labels: split

#11 feat: mypage 2차 화면 설계
  src/App.tsx
  src/index.css
  src/pages/mypage/MypagePage.tsx
  src/pages/mypage/account/AccountOpenList.tsx
  src/pages/mypage/account/AccountSavingList.tsx
  src/pages/mypage/account/AccountSettingPage.tsx
  src/pages/mypage/goal/GoalCreatePage.tsx
  src/pages/mypage/goal/GoalDetailPage.tsx
  src/pages/mypage/goal/GoalListPage.tsx
  src/pages/mypage/salary/SalaryPage.tsx
  src/pages/product/ProductCompletePage.tsx
  src/pages/product/ProductSignupPage.tsx
  src/pages/product/ProductTermPage.tsx
Labels: mypage

#12 feat: 마이페이지 계좌 생성 디자인 구현
  src/App.tsx
  src/components/ui/Modal.tsx
  src/components/ui/PhoneModal.tsx
  src/index.css
  src/pages/mypage/account/AccountAddPage.tsx
  src/pages/mypage/account/AccountCompletePage.tsx
  src/pages/mypage/account/AccountPage.tsx
  src/pages/mypage/account/AccountTermPage.tsx
  src/pages/product/ProductTermPage.tsx
Labels: mypage

#13 feat: 입출금 계좌 수정 페이지 디자인 구현
  src/App.tsx
  src/pages/mypage/account/AccountOpenList.tsx
  src/pages/mypage/account/AccountOpenUpdatePage.tsx
Labels: mypage

#14 feat: start 1차 화면 설계
  src/App.tsx
  src/pages/start/LoginPage.tsx
  src/pages/start/Splash.tsx
  src/pages/start/Tutorial1Page.tsx
  src/pages/start/Tutorial2Page.tsx
  src/pages/start/Tutorial3Page.tsx
  src/pages/start/Tutorial4Page.tsx
  src/pages/start/TutorialPage1.tsx
Labels: start

#15 feat: product 4차 화면 개발
  package-lock.json
  package.json
  src/App.tsx
  src/components/ui/Modal.tsx
  src/components/ui/PhoneModal.tsx
  src/pages/product/ProductDetailPage.tsx
  src/pages/product/ProductGoalPage.tsx
  src/pages/product/ProductListPage.tsx
  src/pages/product/ProductTermDetailPage.tsx
  src/pages/product/ProductTermPage.tsx
  yarn.lock
Labels: product

#17 feat: 생활 지출 통계 디자인 구현
  package.json
  src/App.tsx
  src/components/utils/formatters.ts
  src/pages/home/HomePage.tsx
  src/pages/life/ConsumptionChart.tsx
  src/pages/life/LifePage.tsx
Labels: life

#19 design: navbar 디자인 수정
  src/index.css
  src/pages/Layout.tsx
  src/pages/common/NavBar.tsx
Labels: 🎨design
