Repository HanaPiece/hana-piece-client, pull requests merged in 2024-06, with the labels that each got.

#22 feat: userContext, goalsProductsContext 작업
  package-lock.json
  src/App.tsx
  src/contexts/ProductContext.tsx
  src/contexts/UserContext.tsx
  src/main.tsx
  src/pages/home/HomePage.tsx
  src/pages/life/ConsumptionChart.tsx
  src/pages/life/LifePage.tsx
  src/pages/mypage/goal/GoalListPage.tsx
  src/pages/product/ProductDetailPage.tsx
  src/pages/product/ProductGoalPage.tsx
  src/pages/product/ProductListPage.tsx
  src/pages/start/LoginPage.tsx
  src/pages/start/Tutorial4Page.tsx
  src/types/ProductType.ts
  yarn.lock
Labels: start, product

#23 [Feat] home 페이지 fetch 1차 구현
  src/components/utils/formatters.ts
  src/hooks/fetch.ts
  src/pages/home/GoalProductDetail.tsx
  src/pages/home/GoalProductDetailPage.tsx
  src/pages/home/GoalProductRecommend.tsx
  src/pages/home/GoalProductTransactionDetail.tsx
  src/pages/home/HomePage.tsx
  src/pages/home/homeType.d.ts
  src/pages/life/LifePage.tsx
Labels: home

#24 feat: fetch functions
  src/App.tsx
  src/pages/home/GoalProductDetailPage.tsx
  src/pages/mypage/account/AccountOpenList.tsx
  src/pages/mypage/account/AccountOpenListPage.tsx
  src/pages/mypage/account/AccountSavingList.tsx
  src/pages/mypage/account/AccountSavingListPage.tsx
  src/pages/mypage/salary/SalaryPage.tsx
  src/pages/product/ProductCompletePage.tsx
  src/pages/product/ProductDetailPage.tsx
  src/pages/product/ProductSignupPage.tsx
  src/pages/product/ProductTermDetailPage.tsx
  src/pages/product/ProductTermPage.tsx
  src/pages/start/LoginPage.tsx
Labels: mypage, product

#25 [Feat] 통장 쪼개기 시작하기 fetch 구현
  src/hooks/fetch.ts
  src/pages/home/GoalProductDetailPage.tsx
  src/pages/home/GoalProductTransactionDetail.tsx
  src/pages/home/HomePage.tsx
  src/pages/split/SplitMainPage.tsx
  src/pages/split/SplitStartPage.tsx
  src/pages/split/SplitStartSettingPage.tsx
  src/pages/split/SplitStartSplitPage.tsx
  src/pages/split/splitType.d.ts
Labels: split

#26 [fix] 디테일 디자인 보완 및 fetch 주소 변경
  src/pages/product/ProductDetailPage.tsx
  src/pages/product/ProductGoalPage.tsx
  src/pages/product/ProductListPage.tsx
  src/pages/product/ProductSignupPage.tsx
  src/pages/product/ProductTermDetailPage.tsx
  src/pages/product/ProductTermPage.tsx
  src/pages/start/LoginPage.tsx
Labels: product

#29 [Feat] 통장 쪼개기 비율 조정 fetch 구현
  src/pages/split/SplitMainPage.tsx
  src/pages/split/SplitManualPage.tsx
  src/pages/split/SplitStartCompletePage.tsx
  src/pages/split/SplitStartSettingPage.tsx
  src/pages/split/SplitStartSplitPage.tsx
Labels: split

#31 feat: goal fetch finish
  src/contexts/ProductContext.tsx
  src/pages/home/GoalProductRecommend.tsx
  src/pages/mypage/goal/GoalCar.tsx
  src/pages/mypage/goal/GoalHouse.tsx
  src/pages/mypage/goal/GoalUtil.ts
  src/pages/mypage/goal/GoalWish.tsx
  src/pages/product/ProductListPage.tsx
  src/pages/product/ProductSignupPage.tsx
Labels: mypage, product

#32 [Feat] life 페이지 data fetch 구현
  public/byul2.png
  src/components/utils/formatters.ts
  src/constants.ts
  src/pages/home/HomePage.tsx
  src/pages/life/ConsumptionChart.tsx
  src/pages/life/LifePage.tsx
  src/pages/life/lifeType.d.ts
  src/pages/split/SplitMainPage.tsx
  src/pages/split/SplitManualPage.tsx
  src/pages/split/SplitStartPage.tsx
  src/pages/split/SplitStartSettingPage.tsx
  src/pages/split/SplitStartSplitPage.tsx
Labels: life

#33 [Feat] 통장쪼개기 data fetch 수정
  src/pages/home/GoalProductDetailPage.tsx
  src/pages/split/SplitMainPage.tsx
  src/pages/split/SplitManualPage.tsx
  src/pages/split/SplitStartSplitPage.tsx
Labels: split

#35 [Feat] 럭셔리, 짠돌이 모드 선택 버튼 추가
  src/pages/split/SplitAutoPage.tsx
Labels: split

#38 [Design] 목표 추천 적금, 마이페이지 디자인 보완
  src/pages/mypage/account/AccountOpenListPage.tsx
  src/pages/mypage/account/AccountOpenUpdatePage.tsx
  src/pages/mypage/goal/GoalCar.tsx
  src/pages/mypage/goal/GoalDetailPage.tsx
  src/pages/mypage/goal/GoalHouse.tsx
  src/pages/mypage/goal/GoalListPage.tsx
  src/pages/mypage/goal/GoalWish.tsx
  src/pages/mypage/salary/SalaryPage.tsx
  src/pages/product/ProductDetailPage.tsx
  src/pages/product/ProductGoalPage.tsx
  src/pages/product/ProductListPage.tsx
  src/pages/product/ProductSignupPage.tsx
  src/pages/product/ProductTermDetailPage.tsx
  src/pages/product/ProductTermPage.tsx
Labels: mypage, product, 🎨design

#39 feat: 입출금 계좌 생성 프로세스 변경
  src/App.tsx
  src/constants.ts
  src/pages/mypage/account/AccountAddPage.tsx
  src/pages/mypage/account/AccountPage.tsx
  src/pages/mypage/account/AccountTermPage.tsx
  src/pages/mypage/account/create/AccountAddPage.tsx
  src/pages/mypage/account/create/AccountCompletePage.tsx
  src/pages/mypage/account/create/AccountCreatePage.tsx
  src/pages/mypage/account/create/AccountTermDetailPage.tsx
  src/pages/mypage/account/create/AccountTermPage.tsx
  src/pages/split/SplitAutoPage.tsx
  src/pages/split/SplitStartSplitPage.tsx
Labels: mypage

#40 [Feat] 적금 추천 예상 금액 추가
  src/pages/home/GoalProductRecommend.tsx
Labels: home

#46 fix: create account
  src/pages/home/HomePage.tsx
  src/pages/mypage/account/AccountCompletePage.tsx
  src/pages/mypage/account/create/AccountCompletePage.tsx
  src/pages/product/ProductGoalPage.tsx
  src/pages/split/SplitStartSplitPage.tsx
Labels: bug

#47 fix: conflict
  src/pages/mypage/account/AccountOpenUpdatePage.tsx
  src/pages/split/SplitStartSplitPage.tsx
Labels: bug

#54 fix: img
  src/pages/home/GoalProductRecommend.tsx
  src/pages/home/HomePage.tsx
  src/pages/mypage/goal/GoalWish.tsx
  src/pages/product/ProductDetailPage.tsx
  src/pages/product/ProductListPage.tsx
  src/pages/split/SplitAutoPage.tsx
  src/pages/split/SplitMainPage.tsx
  src/pages/start/Splash.tsx
  src/pages/start/Tutorial1Page.tsx
  src/pages/start/Tutorial3Page.tsx
  src/pages/start/Tutorial4Page.tsx
  src/pages/start/TutorialPage.tsx
Labels: bug
